
$primary-color: #666666;

.versions-container{
  display: flex;
  flex-direction: column;
  .version-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #E0E0E0;
    .version-title-subtitle-container{
      display: flex;
      flex-direction: column;
      text-align: left;

      .version-title{
        font-size: 18px;
        word-break: break-word;
        color: $primary-color !important;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:visited,
        &:active {
          text-decoration: none;
        }
      }
      .version-title-button{
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        text-align: left;
        font-size: 16px;
        color: $primary-color;
        text-decoration: none;
        width: 100%;
        
        &:hover {
          color: #333;
        }
      }
      .version-subtitle{
        margin-top: 16px;
        color: $primary-color;
        font-size: 15px;
      }
      .version-metadata {
        margin-top: 2px;
        color: $primary-color;
        font-size: 14px;
        .metadata-row {
          display: flex;
          gap: 0.5rem;
          span {
            color: $primary-color;
          }
          a {
            color: $primary-color;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .version-language{
      height: 30px;
      padding: 3px 10px;
      background-color: #EDEDEC;
      color: #666666;
      border-radius: 25px;
      font-size: 15px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      p {
        margin-top: 16px;
      }
    }
  }

  hr {
    margin: 0.5rem 0;
  }
}