.sub-collections-container {

  display: flex;
  justify-content: space-around;

  .sub-collection-details {
    margin: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    width: 60%;

    h1 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.05rem;
      text-align: left;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .sub-collections-list-container {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
      justify-content: space-around;

      .sub-collection {
        width: 35rem;
        text-align: left;
        text-decoration: none;

        .divider {
          height: 1px;
          background-color: #e0e0e0;
          margin-bottom: 1rem;
          width: 100%
        }

        p {
          font-size: 20px;
          cursor: pointer;
          width: 100%;
          line-height: 1.4;
          color: #333;
          padding-top: 1rem;
          font-weight: 400;

          &:hover {
            color: #666666;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .about-section {
    width: 40%;
    height: 95vh;
    background-color: #FBFBFA;
    margin-right: 5rem;

    .about-content {
      margin: 5rem 2rem 0 2rem;

      .about-title {
        text-align: left;
        font-size: 24px;
        font-weight: 400;
        color: #555;
      }

      .divider {
        height: 1px;
        background-color: #e0e0e0;
        margin-top: 2.5rem;
      }
    }
  }
}

@media (max-width: 1000px) {
  .sub-collections-container {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;

    .sub-collection-details {
      width: auto;
      margin-bottom: 2rem;

    }

    .about-section {
      width: 100%;
    }
  }
}
