.sub-collections-container {

  display: flex;
  justify-content: space-around;

  &.no-margin {
    margin: 0;
  }

  .sub-collection-details {
    margin: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    h1 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.05rem;
      text-align: left;
      color: #555;
      margin-bottom: 0.5rem;
    }

    .sub-collections-list-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      margin-top: 2rem;
      
      @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
      
      .sub-collection {
        width: 100%;
        text-align: left;
        text-decoration: none;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        .divider {
          height: 1px;
          background-color: #e0e0e0;
          margin-bottom: 1rem;
          width: 100%
        }

        p {
          font-size: 20px;
          cursor: pointer;
          width: 100%;
          line-height: 1.4;
          color: #333;
          padding-top: 1rem;
          font-weight: 400;
          margin: 0;

          &:hover {
            color: #666666;
            text-decoration: underline;
          }
        }
      }
    }
  }

    .minified-sub-collection-details {
      margin: 0;
      width: 100%;
  
      .minified-left-section {
        display: grid;
        gap: 1rem;
        text-align: center;
        margin-top: 3rem;
  
        .sub-collection {
          width: 100%;
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;

          .divider {
            width: 90%;
            height: 1px;
            background-color: #e0e0e0;
            margin-bottom: 1rem;
            margin-left: auto;
            margin-right: auto;
          }
  
          p {
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            color: #333;
            transition: color 0.2s ease;
            margin: 0;

            &:hover {
              color: #666666;
              text-decoration: underline;
            }
          }
        }
      }
    }

  .about-section {
    width: 40%;
    height: 95vh;
    background-color: #FBFBFA;
    margin-right: 5rem;

  }
}

@media (max-width: 1000px) {
  .sub-collections-container {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;

    .sub-collection-details {
      margin: 5rem 0 0 0;
      width: auto;
      margin-bottom: 2rem;

    }

    .about-section {
      width: 100%;
    }
  }
}
