.profile-card {
  &-loading {
    padding: 20px;
    text-align: center;
    color: #666;
    font-style: italic;
  }
  .profile-card-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    width: fit-content;
    padding: 4px;
    border-radius: 10px;
  
    .profile-picture-container {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #e2e2e2;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    }
    .profile-info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      
.profile-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.profile-title {
  font-size: 12px;
  color: #666;
  margin-top: -2px;
}
    }
  }
}

@media (max-width: 480px) {
  .profile-card-content {
    .profile-picture-container {
      width: 50px;
      height: 50px;
    }
  }
  .profile-name {
    font-size: 14px;
  }
  .profile-title {
    font-size: 12px;
  }
}
