.toolbar {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: auto;
  margin-bottom: 12px;
  flex-wrap: wrap;
  gap: 4px;
  
  &-group {
    display: flex;
    align-items: center;
    gap: 2px;
    .publish-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.2s ease;
      font-size: 14px;
      padding: 0 10px;
      color: #f4f4f4;
      background-color: #A9080E;
      &.disabled-button {
        background-color: #555;
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  
  &-divider {
    width: 1px;
    height: 24px;
    background-color: #e0e0e0;
    margin: 0 6px;
  }
  
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    color: #555;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 14px;
    padding: 0;
    
    &:hover {
      background-color: #eaeaea;
      color: #333;
    }
    
    &:active,
    &.active {
      background-color: #e0e0e0;
      color: #000;
    }
  }
}



@media (max-width: 768px) {
  .toolbar {
    padding: 6px;
    
    &-button {
      width: 28px;
      height: 28px;
    }
    
    &-divider {
      height: 20px;
    }
  }
}
