.chapter-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 150;
  top: 59px;
  left: 0;
  right: 0;
  padding: 1rem;
  gap: 2rem;
  border-bottom: 1px solid #e0e0e0;
  background: rgba(255, 255, 255);
  .bookmark-icon-container button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .title-container {
    margin: 0 auto;
    white-space: nowrap;
  }
}

