//.chapter-header-container {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//  margin: 1rem;
//  position: relative;
//  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
//  padding: 1rem;
//  gap: 2rem;
//
//  .title-container {
//    margin: 0 auto;
//    white-space: nowrap;
//  }
//}
