.chapter-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 100;
  top: 0px;
  padding: 1rem;
  gap: 2rem;
  border-bottom: 1px solid #e0e0e0;
  background: rgb(248, 248, 248);
  .bookmark-icon-container button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .title-container {
    margin: 0 auto;
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
  }
  .toc-icon-container, .view-selector-icon-container, .close-icon-container {
    flex: 0 0 auto;
  }
}

@media (min-width: 993px) {
  .single-chapter .chapter-header-container {
    position: fixed;
    top: 59px;
    left: 0;
    right: 0;
    z-index: 150;
  }
}

.split-screen .chapter-header-container {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

@media (max-width: 992px){
  .single-chapter .chapter-header-container {
    position: fixed;
    top: 59px;
    left: 0;
    right: 0;
    z-index: 150;
  }
}