.chapter-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  position: relative;
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  .bookmark-icon-container button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .title-container {
    margin: 0 auto;
    white-space: nowrap;
  }
}
