$tablet-breakpoint: 768px;


.toc-container {
  .toc-list-container {
    .toc-header {
      display: flex;
      align-items: center;
      padding: 0.5rem 0.75rem;
      justify-content: flex-start;
      cursor: pointer;
      text-align: left;
      border-radius: 4px;
      transition: background-color 0.2s ease;
      background-color: transparent;
      border: none;

      .toggle-icon {
        margin-right: 0.5rem;
        min-width: 16px;
        display: flex;
        align-items: center;
      }

      .toc-title {
        width: 100%;
        text-decoration: none;
        font-size: 16px;
        color: #666;
        cursor: pointer;
        line-height: inherit;
        margin: 0;
        padding: 0;
        display: inline;
      }

      .nested-content {
        margin-left: 1.25rem;

      }
    }

    .nested-content {
      .toc-list-container {
        padding-left: 1.5rem;
      }
    }
  }
}

.minified-toc-container {
  .toc-list-container {
    .toc-header {
      padding: 0.75rem 1rem;
      justify-content: center;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      transition: background-color 0.2s ease;
      background-color: transparent;
      border: none;

      .toc-title {
        text-align: center;
        font-size: 16px;
        width: 100%;
        text-decoration: none;
        color: #666;
        cursor: pointer;
        line-height: inherit;
        margin: 0;
        padding: 0;
        display: inline;
      }

      .toggle-icon {
        margin-right: 0.5rem;
        min-width: 16px;
        display: flex;
        align-items: center;
      }
    }

    .toc-compare-text-item {
      .toc-title-button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        color: #666;
        text-decoration: none;
        width: 100%;
        
        &:hover {
          color: #333;
          text-decoration: underline;
        }
      }
    }
  }
}

