// Color Variables
$background-color: #f9f9f9;
$white-color: #ffffff;
$dark-grey: #333333;
$light-grey: #cccccc;
$red-color: red;
$dark-red-color: darkred;
$orange-color: #f39c12;
$error-color: red;


.register-container {
  height: 100vh;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  background: $white-color;
  padding: 2rem;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .register-title {
    text-align: center;
    font-weight: bold;
    color: $dark-grey;
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 1rem;
    position: relative;
  .form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem;
    padding-right: 2rem;
    border-radius: 5px;
    border: 1px solid $light-grey;

    &:focus {
      outline: none;
      border-color: $orange-color;
      box-shadow: 0 0 5px rgba(243, 156, 18, 0.5);
    }

    &.is-invalid {
      padding-right: 4rem;
    }
  }

  .input-icons {
    position: absolute;
    top: 13px;
    right: 8px;
    display: flex;
    align-items: center;
  }

  .validation-icon-standalone {
    position: absolute;
    top: 35%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: $error-color;
  }

  .validation-icon {
    font-size: 1.2rem;
    color: $error-color;
  }

  .password-toggle-standalone {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
  }
  
  .password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-right: 4px;
    transform: translateY(-1px);
  }
}
  .register-button {
    width: 100%;
    margin-bottom: 1rem;
    background-color: brown;
    color: $white-color;
    padding: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: $dark-red-color;
    }

    &:focus {
      outline: none;
    }
  }

  .register-links {
    .login-link {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .text-danger {
    color: $error-color;
  }

  .registration-error{
    color:red;
  }

  .social-login-buttons {
    display: flex;
    gap: 0.5rem;
    .social-btn {
      flex: 1;
      padding: 0.8rem;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid $light-grey;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease;
      color: $dark-grey;
      background-color: $white-color;

      &:hover {
        background-color: $background-color;
        border-color: $dark-grey;
        color: $dark-grey;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}