.chapters-container {
    display: flex;
    width: 100%;
    height: 100vh;
    
    .chapter-container {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #e0e0e0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        
        &:last-child {
          border-right: none;
        }
    }
    .contents-chapter-container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}

@media (min-width: 993px) {
    .chapters-container {
        height: calc(100vh - 59px);
        overflow: hidden;
        .chapter-container {
            .contents-chapter-container.split-screen {
                overflow: visible;
                height: 100%;
            }
            &:not(:only-child) {
                overflow: hidden;
            }
        }
    }
}


  
 
  
