.chapters-container {
    display: flex;
    height: calc(100vh - 30px);
    width: 100%;
    .chapter-container {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #e0e0e0;
        &:last-child {
          border-right: none;
        }
      }
      .contents-chapter-container {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
  }
  
 
  
