.sheet-segment-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2001;
}

.sheet-segment-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 800px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .search-segment-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #A9080E;
    margin: 0;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.segment-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  padding-right: 10px;

  .search-segment-input {
    border: 1px solid #e0e0e0;
    padding: 0.625rem 0.75rem;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    
    &:focus {
      box-shadow: none;
      border-color: #e0e0e0;
      outline: none;
    }
  }

  .segment-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    gap: 20px;
    height: calc(100% - 100px);
    
    .state-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 40px;
      text-align: center;
      border-radius: 8px;
      border: 1px dashed #e0e0e0;
      margin: 0;

      &.loading {
        p {
          color: #666;
          font-size: 1rem;
          margin: 0;
        }
      }

      &.empty {
        p {
          color: #2c3e50;
          font-size: 1.1rem;
          font-weight: 500;
          margin: 0 0 8px 0;
        }

        .empty-description {
          color: #666;
          font-size: 0.9rem;
        }
      }
    }
  }

  .source-item {
    border: 1px dashed #e0e0e0;
    border-radius: 8px;
    padding: 16px;

    .source-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 12px;
      .source-title {
        color: #A9080E;
        margin: 0;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.2;
        display: flex;
        align-items: center;
      }

      img {
        width: 43px;
        height: 30px;
        object-fit: contain;
        display: block;
      }
    }

    .segment-matches {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .segment-item {
      background-color: white;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      border:none;
      padding:0;
      text-align: left;
      &::before {
        content: '';
        position: absolute;
        left:0;
        top: 0;
        height: 100%;
        width: 3px;
        background: #A9080E;
        
      }
      .segment-content {
        font-size: 0.95rem;
        line-height: 1.5;
        padding-left: 12px;
        p {
          margin: 0;
        }

        br {
          display: block;
          content: "";
          margin: 4px 0;
        }
      }
    }
  }
}

.segment-pagination-container {
  margin-top: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background: white;
}


