.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    font-size: medium;
  }
  
  .main-container {
    display: flex;
    max-width: 1280px;
    height: fit-content;
    margin-left: 0;
    margin-right: auto;
    background-color: white;
    position: relative;
    justify-content: flex-start;
    padding: 0;

  .text-child-container {
    flex: 1;
    padding: 4rem 2rem 4rem 0;
    max-width: 800px;
    margin-left: 5rem;
    text-align: start;
    color: #333;
    overflow-y: auto;
  
    .category-header {
      margin-bottom: 2rem;
      
      h1 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.05rem;
      }
    }
  
    .text-sections {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
  
    .text-section {
      .section-title {
        font-size: 20px;
        font-weight: 500;
        color: #555;
        margin-bottom: 0.5rem;
        letter-spacing: 0.05rem;
      }
  
      .section-divider {
        height: 1px;
        background-color: #e0e0e0;
        margin-bottom: 1.5rem;
      }
  
      .text-list {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
      }
  
      .text-item {
        text-decoration: none;
        border-top: 1px solid #e0e0e0;
        padding: 0.5rem 0px;
        font-size: 20px;
        p {
          cursor: pointer;
          width: 100%;
          line-height: 1.4;
          color: #333;
          padding-top: 1rem;
          font-weight: 400;
          
          &:hover {
            color: #666666;
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .sidebar {
    border: none;
    height: calc(100vh - 4rem);
    width: 470px;
    background-color: #FBFBFA;
    padding: 2rem;
    position: fixed;
    right: 5rem;
    top: 3.5rem;
    margin-left: auto;
    .about-title {
      text-align: start;
      font-size: 20px;
      font-weight: 500;
      color: #555;
    }
  
    .divider {
      height: 1px;
      background-color: #e0e0e0;
    }
  }
}
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: 320px;
    }
  }
  
  @media (max-width: 767px) {
    .text-child-container {
      margin-left: 0 !important;
      padding: 2rem 1rem 2rem 1rem;
      .category-header{
        h1 {
          font-size: 20px;
        }
      }
      .text-section {
        .text-list {
          grid-template-columns: 1fr;
        }
        .text-item {
          font-size: 16px;
        }
      
      }
    
    }

    .main-container {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  
    .sidebar {
      display: none;
    }
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
    color: #666;
  }