.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  font-size: medium;
}

.library-container{
  margin: 0 5rem;
  .main-container {
    display: flex;
    background-color: white;
    gap: 2rem;
    justify-content: center;
    height: 95vh;

    .text-child-container {
      width: 60%;
      text-align: start;
      color: #333;
      overflow-y: auto;
      padding: 1rem;
      margin-top: 5rem;

      .category-header {
        margin-bottom: 2rem;

        h1 {
          font-size: 24px;
          font-weight: 500;
          letter-spacing: 0.05rem;
        }
      }

      .text-sections {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
      }

      .text-section {
        .section-title {
          font-size: 20px;
          font-weight: 500;
          color: #555;
          margin-bottom: 0.5rem;
          letter-spacing: 0.05rem;
        }

        .section-divider {
          height: 1px;
          background-color: #e0e0e0;
          margin-bottom: 1.5rem;
        }

        .text-list {

          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0.5rem;
        }

        .text-item {
          text-decoration: none;
          border-top: 1px solid #e0e0e0;
          padding: 0.5rem 0px;
          font-size: 20px;

          p {
            cursor: pointer;
            width: 100%;
            line-height: 1.4;
            color: #333;
            padding-top: 1rem;
            font-weight: 400;

            &:hover {
              color: #666666;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .side-container {
      width: 40%;
      background-color: #FBFBFA;
      padding: 2rem;

      .about-title {
        text-align: start;
        font-size: 20px;
        font-weight: 500;
        color: #555;
      }

      .divider {
        height: 1px;
        background-color: #e0e0e0;
      }
    }
  }

}
@media (min-width: 768px) and (max-width: 991px) {
  .library-container{
    margin: 0;
    .main-container {
      .text-child-container {
        padding: 2rem;
      }
      .side-container {
        width: 320px;
      }
    }
  }
}

@media (max-width: 767px) {
  .library-container{
    margin: 0;
    .main-container {
      margin: 0;
      padding: 0;
      width: 100%;
      .text-child-container {
        padding: 2rem;
        width: 100%;
        margin-left: 0 !important;
      

        .category-header {
          h1 {
            font-size: 20px;
          }
        }

        .text-section {
          .text-list {
            grid-template-columns: 1fr;
          }

          .text-item {
            font-size: 16px;
          }
        }
      }
      .side-container {
        display: none;
      }
    }

  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  color: #666;
}