.right-panel {
  width: 0;
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  transition: width 0.3s ease-in-out;
  overflow: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.05);
  height: 100%;

  &.show {
    width: 400px;
  }

  .panel-content {
    text-align: start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    .textgreat{
      color: #828282;
      border-bottom: 1px solid #f0f0f0;
    }
    h3 {
      margin-bottom: 20px;
      color: #333;
      font-weight: 600;
    }

    p {
      display: flex;
      align-items: center;
      padding: 12px 0;
      margin: 0;
      color: #444;
      cursor: pointer;
      transition: all 0.2s ease;

      &:not(.textgreat):hover {
        color: #7b7b7b;
        background-color: #f8f9fa;
      }
    }
  }

  &.show .panel-content {
    opacity: 1;
  }

  .translation-content {
    text-align: start;
    font-size: medium;
    color: black;
    
    .belowdiv{
      margin-top: 10px;
      padding: 1rem;
      border-radius: 8px;
      background-color: #f0f0f0;
      font-size: small;

      p {
        margin: 0;
        padding: 4px 0;
        line-height: 1.4;
      }

      .linkselect{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        min-height: 40px;

        .linkicons{
          display: flex;
          gap: 0px 6px;
          align-items: center;
          height: 100%;
        }
        .selectss{
          color: blue;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }
    }
    .textgreat {
      color: #828282;
      border-bottom: 1px solid #f0f0f0;
      margin-bottom: 12px;
    }

    .segment-content {
      background-color: #f5f5f5;
      border-radius: 4px;
      font-size: 14px;
      color: #333;
      margin-bottom: 20px;
    }

    .translations-list {
      .language-group {
        margin-bottom: 1rem;
        .language-title {
          padding-bottom: 1rem;
          border-bottom: #d4d4d4 solid 1px;
          margin-bottom: 0.75rem;
          color: #7d7d7d;

          .translation-count {
           
            color: #718096;
            font-size: 0.9rem;
            margin-left: 0.25rem;
          }
        }
      }

      .translation-item {
        margin-bottom: 0.5rem;
        border-radius: 0.375rem;
      }
    }

    .commentaries-list {
      .commentary-list-item {
        margin-bottom: 1.25rem;
        padding-bottom: 1rem;
      }
    
      .commentary-title {
        font-weight: 600;
        font-size: 1.1rem;
        color: #333;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.75rem;
        border-bottom: 2px solid #a70c0c;
        line-height: 1.6;
      }
    
      .commentary-content {
        font-size: 0.85rem;
        line-height: 1.7;
        color: #504e4e;
      }
    
      .content-truncated {
        overflow: hidden;
        position: relative;
        line-height: 1.6;
        height: 4.8em;
        padding-top: 2px;
        padding-bottom: 0;
        margin-bottom: 0;
        display: block;
      }
    
      .see-more-container {
        text-align: left;
        margin: 0.1rem 0 0.5rem;
      }
    
      .see-more-link {
        background: none;
        border: none;
        color: #555;
        padding: 0;
        cursor: pointer;
        font-size: 0.875rem;
        display: inline-block;
    
        &:hover {
          text-decoration: underline;
          color: #a70c0c;
        }
      }
    
      .commentary-source {
        font-size: 0.85rem;
        color: #666;
        margin: 0.5rem 0;
      }
    
      .commentary-buttons {
        display: flex;
        gap: 1.5rem;
        margin: 0.75rem 0 0;
      }
    
      .commentary-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 0.9rem;
        color: #555;
    
        .mr-1 {
          margin-right: 4px;
        }
    
        &:hover {
          color: #a70c0c;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .right-panel.show {
    width: 320px;
  }
}
