.right-panel {
  width: 0;
  background-color: #fff;
  border-left: 1px solid #e0e0e0;
  transition: width 0.3s ease-in-out;
  overflow: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.05);
  height: 100%;

  &.show {
    width: 400px;
  }

  .panel-content {
    text-align: start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    .textgreat{
      color: #828282;
      border-bottom: 1px solid #f0f0f0;
    }
    h3 {
      margin-bottom: 20px;
      color: #333;
      font-weight: 600;
    }

    p {
      display: flex;
      align-items: center;
      padding: 12px 0;
      margin: 0;
      color: #444;
      cursor: pointer;
      transition: all 0.2s ease;

      &:not(.textgreat):hover {
        color: #7b7b7b;
        background-color: #f8f9fa;
      }
    }
  }

  &.show .panel-content {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .right-panel.show {
    width: 320px;
  }
}
