.image-upload-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-upload-modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  height: 400px;
  max-width: 500px;
  width: 90%;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  
  &:hover {
    opacity: 0.7;
  }
}

.upload-area {
  border: 1px dashed #ccc;
  border-radius: 4px;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
  margin: 1rem 0;
  
  &:hover {
    border-color: #666;
  }

  p {
    margin: 0;
    color: #666;
  }

  input {
    display: none;
  }
}

.upload-button {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  height: 42px;
  border: none;
  border-radius: 4px;
  width: 100%;
  color: #555;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  padding: 0 10px;
  color: #f4f4f4;
  background-color: #A9080E;
} 
.selected-file-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  .selected-file-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    .delete-icon {
      cursor: pointer;
      &:hover {
        color: #A9080E;
      }
    }
  }
.selected-file-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.selected-file-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 4px;
  .selected-file-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
}