$hover-color: #6e6e6e;
$border-color: #bdbdbd;
$background-color:rgb(251, 251, 250);
$card-border:#ddd;
$card-shadow:rgba(0, 0, 0, 0.1);

.topics-container {
  padding: 20px;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.topics-wrapper {
  display: flex;
  gap: 20px;

  .topics-list {
    flex: 1; 
    max-width: calc(100% - 350px); 
    
    .topics-title{
      margin-left: 5.7rem;
      text-align: left;
    }

    .row {
      margin: 0 5.7rem;
      width: auto;
    }

    .col {
      padding: 0.5rem;
    }

    .topic-card {
      border: none;
      border-radius: 0%;
      border-top: $border-color 1px solid;
      padding: 10px;
      transition: transform 0.2s ease-in-out;
      height: 100%;


      .topic-button {
        text-align: start;
        background: none;
        border: none;
        color: #333;
        text-decoration: none;
        padding: 5px;
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
          color: $hover-color;
          text-decoration: none;
        }

        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
          text-decoration: none;
        }
      }

    }

    .pagination-container {
      display: flex;
      gap: 1rem;
      justify-content: flex-start;

      .page-item{
        &.active{
          border: none;
        }
      }
      .active > .page-link {
        background-color: $hover-color;
      }
    }
  }

  .search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1.5rem  5.9rem 0 5.9rem;
    
    .alphabet-filter {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    .alphabet-button {
      padding: 5px 10px;
      font-size: 14px;
    }
    .alphabet-button.listsubtitle {
      font-size: var(--listsubtitle-font-size) !important;
      font-family: var(--listsubtitle-font-family) !important; 
    }

    .back-button{
      border: none;
      align-self: flex-start;
      padding: 0;
      &:hover{
        background-color: white;
        color: darkred;
      }
    }
    .deep-search-container{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .deep-search-button{
        width: 50%;
        align-self: center;
        border: none;
        &:hover{
          background-color: white;
          color: darkred;
        }
      }
    }

  }

  .topic-info {
    width: 300px;
    flex-shrink: 0; 
    margin-top: 3.7rem;

    .topic-info-card {
      width: 100%;
      background-color: $background-color;
      padding: 20px;
      border: 1px solid $card-border;
      box-shadow: 2px 2px 10px $card-shadow;
      border-radius: 10px;
    }
  }


}

@media (min-width: 769px) and (max-width: 1199px) {
  .topics-wrapper {
    .topics-list {
      max-width: calc(100% - 300px); 
      
      .topics-title {
        margin-left: 2rem;
      }

      .row {
        margin: 0 2rem;
      }

      .col {
        padding: 0.75rem;
      }
    }

    .search-container {
      margin: 1.5rem 2rem;
    }

    .topic-info {
      width: 250px; 
    }
  }
}

@media (max-width: 768px) {
  .topics-wrapper {
    flex-direction: column;

    .topics-list {
      max-width: 100%; 
      
      .topics-title {
        margin-left: 1rem;
      }

      .row {
        margin: 0 1rem;
      }

      .col {
        padding: 0.5rem;
      }

    }

    .search-container {
      margin: 1.5rem 1rem;
    }

    .topic-info {
      width: 100%;
      margin: 1rem;
    }
  }
}
