.paragraph-with-indicator {
  position: relative;
  display: flex;
  padding-left: 1.2em;
  align-items: center;
  .newline-indicator {
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    display: inline-block;
    color: #929292;
    font-size: 1em;
  }
  
}
