$primary-color: #666666;


.versions-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .version{
    display: flex;
    justify-content: space-between;

    .review-history{
      color: $primary-color;
      font-size: 15px;
    }

    .version-language{
      height: 30px;
      padding: 3px 10px;
      background-color: #EDEDEC;
      color: #666666;
      border-radius: 25px;
      font-size: 15px;

    }
  }
}