
.versions-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .version{
    display: flex;
    justify-content: space-between;

    .version-language{
      padding: 5px 10px;
      background-color: #EDEDEC;
      color: #666666;
      border-radius: 25px;
    }
  }
}