.table-of-contents {
  width: 0;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  height: 100%;
  z-index: 10;
  // position: fixed;

  &.show {
    width: 300px;
  }

  .header-thing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 1rem 0.75rem 1rem;

    .listtitle {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 600;
      color: #333;
    }
  }

  .toc-content {
    height: calc(100% - 50px);
    overflow-y: auto;
    text-align: start;
    .toc-container {
      .section-container {
        .section-header {
          display: flex;
          align-items: center;
          cursor: pointer;
          background: none;
          border: none;
          width: 100%;

          &.current-section {
            padding-left: 8px;
            border-left: 6px solid #AE1C21;
            background-color: #f8f9fa;
          }

          .section-title {
            padding: 0.5rem 0.75rem;
            width: 100%;
            font-size: 18px;
            color: #666;
            cursor: pointer;
            background: none;
            border: none;
            text-align: left;
            text-decoration: none;


            &:is(button) {
              background: none;
              border: none;
              text-align: left;
              box-shadow: none;
            }
          }

          .toggle-icon {
            margin-right: 0.5rem;
            min-width: 16px;
            display: flex;
            align-items: center;
          }

          .empty-icon {
            width: 16px;
            margin-right: 0.5rem;
          }
        }

        .nested-content {
          margin-left: 1.25rem;

          .section-container {
            margin-top: 0.25rem;
          }
        }
      }
    }
  }


}

.toc-backdrop {
  display: none;
}

@media (max-width: 992px) {
  .toc-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    border: none;
    cursor: pointer;
  }
  
  .table-of-contents {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;

    &.show {
      position: fixed;
      left: 0;
      width: 300px;
    }
  }
}

@media (max-width: 768px) {
  .table-of-contents.show {
    width: 320px;
  }
}

@media (max-width: 576px) {
  .table-of-contents.show {
    width: 280px;
  }

  .table-of-contents .toc-content p {
    padding: 10px 0;
    font-size: 0.95rem;
  }
}

@media (min-width: 993px) {
  .table-of-contents {
    .header-thing {
      position: sticky;
      top: 62px;
      z-index: 2;
      background: #f0f0f0;
    }

    .toc-content {
      margin-top: 4.5rem;
    }
  }
}