.table-of-contents{
  position: absolute;
  top: 140%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 20rem;

  display: flex;
  flex-direction: column;

}