.table-of-contents{
  top: 130%;
  background: white;
  border-radius: 6px;
  padding: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 20rem;
  margin-left: 1rem;

  display: flex;
  flex-direction: column;

}