$button-color: #888888;
$greenline-color: rgb(151, 179, 134);
$redline-color: brown;
$background-color: #f8f9fa;
$primary-color: #666666;
$rightsection-color: #FBFBFA;

.homepage-container {
  padding: 0;
  display: inline;
}

.row{
  --bs-gutter-x:0;
  margin: 0 5rem !important;
  @media (max-width: 1200px) {
   margin: 0 2rem !important; 
 }
  @media (max-width: 768px) {
    margin: 0 1rem !important;
  }
}

.full-width-row {
  margin: 0 !important;
  width: 100%;
}


.left-section,
.right-section {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-section {
  flex: 0 0 70% !important;
  max-width: 70% !important;
  .section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1.2rem;

 
    @media (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem;
    }

    .browse-library-text {
      font-weight: 600;
      align-items: flex-start;
      word-wrap: break-word;
      max-width: 100%;
    }

    .browse-button {
      background-color: $button-color;
      border: none;
      padding: 0.5rem 1rem;
      white-space: nowrap;
      font-size: 17px !important; 
      font-family: "Monlam-bodyig-semi-bold-ttf" !important;
    }
  }

  .section-2 {
    .part {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 1.8rem;
      padding: 0.3rem;
    

      .green-line {
        width: 100%;
        height: 4px;
        background-color: $greenline-color;
      }

      .red-line {
        width: 100%;
        height: 4px;
        background-color: $redline-color;
      }

      .part-title {
        font-size: 24px;
        text-align: left;
        margin: 0 0 3px 0;
        word-break: break-word;
        hyphens: auto;
        
        .term-link {
          color: inherit;
          text-decoration: none;
          cursor: pointer;
          transition: color 0.2s ease;

          &:hover {
            color: $primary-color;
            text-decoration: underline;
          }
        }
      }


      .part-subtitle {
        text-align: left;
        color: $primary-color;
        margin: 0;
        word-break: break-word;
        hyphens: auto;
      }
    }
  }
}

.right-section {
  background-color: $rightsection-color ;
  height: auto;
  padding: 2rem;
  flex: 0 0 30% !important;
  max-width: 30% !important;
  max-height: 80%;

  .right-title {
    text-align: start;
    color: $primary-color;
    margin: 1rem;
    word-wrap: break-word;
  }

  .right-divider {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 0.5rem 0;
  }

  .right-paragraph {
    text-align: start;
    line-height: 1.5;
    color: $primary-color;
    margin: 1rem;
    word-wrap: break-word;

    .learn-more {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}