.webuddhist-content {
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px dashed #d7d7d7;
  border-radius: 4px;

  .webuddhist-icon {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
  }

  .webuddhist-title {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #A9080E;
  }
} 