// Variables for colors and other reusable properties
$primary-color: #333;
$secondary-color: #555;
$hover-color: #f39c12;
$background-color: #f8f9fa;
$dark-color: #000;
$light-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.1);
$font-family: Arial, sans-serif;

.custom-navbar {
  box-shadow: 0 2px 5px $shadow-color;
  @media(min-width: 400px){
    .container{
      max-width:100%
    }
  }
  
  &.bg-light{
    background-color: white!important;
  }

  @media (max-width: 990px) {
    .navbar-collapse {
      position: fixed;
      top: 56px;
      left: 0;
      width: 100%;
      height: calc(100vh - 56px);
      background-color: white;
      z-index: 20;
      transition: all 0.3s ease-in;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      
      &:not(.show) {
        display: none;
      }
      
      &.show {
        transform: translateX(0);
      }

     
      .navbar-nav {
        flex: 0 0 auto;
        width: 100%;
        
        .nav-link {
          padding: 0.5rem 0;

        }
      }
      
      .content {
        flex: 1;
        text-align: center;
        margin: 1rem 0;
      }
      
      form {
        margin: 1rem 0;
        width: 100%;
      }
      
      .btn {
        width: 100%;
        margin: 0.25rem 0;
      }

      nav:last-child {
        flex: 0 0 auto;
        margin-top: auto;
        padding-bottom: 1rem;
      }
    }
  }

  .navbar-nav {
    .nav-link {
      color: $secondary-color !important;
      font-weight: bold;
      margin-right: 15px;
      
      &:hover {
        color: $hover-color !important;
      }
    }
  }

  .form-control {
    border-radius: 0.25rem;
  }

  .input-group {
    button {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }

  .btn-outline-dark {
    font-weight: bold;
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $light-color;
    }
  }

  .btn-dark {
    font-weight: bold;
    color: $light-color;
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $dark-color;
    }
  }

  .dropdown-toggle {
    box-shadow: none !important;
  }

  .dropdown-menu {
    min-width: 150px;
  }
}
