.works-container {
  display: flex;
  justify-content: space-around;
  &.no-margin {
    margin: 0;
  }

  .left-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 5rem 0 8rem;
    gap: 2rem;
    h1 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.05rem;
      text-align: left;
      color: #555;
      margin-bottom: 0.5rem;
    }
    .works-title-container {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.05rem;

    }
    .no-content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50vh;
      gap: 1rem;
      align-items: center;
      .no-content {
        text-align: left;
      }
      .no-language-alert {
        background-color: #f1c5c5;
        border: 1px solid #980d0d;
        color: #980d0d;
        border-radius: 4px;
        cursor: pointer;
        width: fit-content;
        padding: 0.5rem 1rem;
        align-self: left;
      }
    }
 

    .root-text-container {

      .root-text-section {
        .root-text-list {
          display: flex;
          flex-wrap: wrap;

          .root-text {
            width: 20rem;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.2s ease;
            text-align: left;
            line-height: 1.4;
            color: #333;
            padding-top: 1rem;
            font-weight: 400;
            background: none;
            border: none;
            
            .divider {
              height: 1px;
              background-color: #e0e0e0;
              margin-bottom: 1rem;
              width: 100%
            }
          }
        }
        .no-content {
          text-align: left;
        }
        .minified-root-text-list {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1.5rem;
          padding-right: 20px;
          
          .bo-text {
            width: 100%;
            min-width: 200px;
            font-size: 1rem;
            text-align: left;
            
            p {
              margin-left: -10px;
              padding-right: 10px;
            }
          }
        }
      }
    }

    .commentary-text-container {
      h2 {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        color: #8e8e8e;
        letter-spacing: 0.05rem;
      }

      .commentary-section {
        .commentary-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 3rem;

          @media (max-width: 910px) {
            grid-template-columns: 1fr;
          }

          .commentary-text {
            width: 100%;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.2s ease;
            text-align: left;
            line-height: 1.4;
            color: #333;
            padding-top: 1rem;
            font-weight: 400;
            background: none;
            border: none;
            &:hover {
              color: #666666;
            }
            .divider {
              height: 1px;
              background-color: #e0e0e0;
              margin-bottom: 1rem;
              width: 100%
            }
          }
        }

        .no-content {
          text-align: left;
        }
        
        .minified-commentary-list {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1.5rem;
          
          .bo-text {
            width: 100%;
            min-width: 200px;
            font-size: 1rem;
            text-align: left;
          }
        }
      }
    }
  }

  .minified-left-section {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .root-text-container,
      .commentary-text-container {
        h2 {
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 0.5rem;
          margin-bottom: 1rem;
          text-align: center;
          font-weight: 400;
        }
      }
    
      .no-content {
        text-align: center;
        color: #666;
      }
    
      .root-text,
      .commentary-text {
        cursor: pointer;
        text-align: center;
        font-weight: 300;
        background: none;
        border: none;
        padding: 0;
        font-family: inherit;
        
        p {
          color: #666;
          transition: color 0.2s ease;
          
          &:hover {
            color: #333;
          }
        }
      }
  }
}

@media (max-width: 1300px) {
  .works-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3rem;

    .left-section {
      width: auto;
      margin: 3rem 3rem 0 0;

    }
  }
}


@media (min-width: 911px) and (max-width: 1299px) {
  .works-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3rem;

    .left-section {
      width: auto;
      margin-bottom: 2rem;

    }
  }
}


@media (max-width: 910px) {
  .works-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3rem;

    .left-section {
      width: auto;
      margin-bottom: 2rem;

      .commentary-text-container {
        .commentary-section {
          .commentary-text {
            width: 100% !important;
          }
        }
      }

    }

  }
}
