//.notfound {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height:70vh;
//  width: 100%;
//  font-size: medium;
//}
//
//.book-container{
//  margin: 0 5rem;
//
//  .main-container {
//    display: flex;
//    background-color: white;
//    gap: 2rem;
//    justify-content: center;
//    height: 95vh;
//
//    .text-category-container {
//      margin-top: 5rem;
//      width: 60%;
//      text-align: start;
//      color: #333;
//
//      .category-header {
//        margin-bottom: 2rem;
//
//        h1 {
//          font-size: 1.8rem;
//          font-weight: 400;
//          letter-spacing: 0.05rem;
//        }
//      }
//
//      .text-sections {
//        display: flex;
//        flex-direction: column;
//        gap: 2.5rem;
//      }
//
//      .text-section {
//        .section-title {
//          font-weight: 500;
//          font-size: 20px;
//          color: #8e8e8e;
//          letter-spacing: 0.05rem;
//        }
//
//        .section-divider {
//          height: 1px;
//        }
//
//        .no-content {
//          display: flex;
//          justify-content: center;
//          align-items: center;
//          padding: 3rem 0;
//          font-size: 1.2rem;
//          color: #666;
//        }
//
//        .text-list {
//          display: grid;
//          grid-template-columns: 1fr 1fr;
//          gap: 2rem 3rem;
//        }
//
//        .text-item {
//          .text-link {
//            text-decoration: none;
//            color: #666666;
//            cursor: pointer;
//            transition: color 0.2s ease;
//
//            &:hover {
//              text-decoration: underline;
//            }
//          }
//
//          p {
//            cursor: pointer;
//            width: fit-content;
//            font-size: 1.2rem;
//            line-height: 1.4;
//            color: #333;
//            border-top: 1px solid #e0e0e0;
//            padding-top: 1rem;
//            font-weight: 400;
//          }
//        }
//      }
//    }
//
//    .sidebar {
//      width: 40%;
//      background-color: #FBFBFA;
//      .sidebar-toggle {
//        top: 160px;
//        left: 50%;
//        transform: translateX(-50%);
//        color: #999;
//        font-size: 1.2rem;
//      }
//    }
//  }
//
//}
//
//@media (max-width: 991px) {
//  .main-container {
//  .text-category-container {
//    .text-section {
//      .text-list {
//        grid-template-columns: 1fr;
//      }
//    }
//  }
//}
//}
//
//
//@media (max-width: 767px) {
//  .book-container{
//    margin: 0;
//    .main-container {
//      .text-category-container {
//        padding: 2rem;
//        width: 100%;
//
//        .category-header h1 {
//          font-size: 1.5rem;
//        }
//
//        .text-section {
//          .text-list {
//            grid-template-columns: 1fr;
//            width: 100%;
//          }
//
//          .text-item {
//            width: 100%;
//
//            p {
//              font-size: 1rem;
//              width: 100%;
//            }
//          }
//        }
//      }
//
//      .sidebar {
//        display: none;
//      }
//    }
//  }
//}

//--------------------------------------------------------

.works-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  .left-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem 0 5rem;
    gap: 2rem;

    .works-title-container {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.05rem;

    }

    .root-text-container {
      h2 {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        color: #8e8e8e;
        letter-spacing: 0.05rem;
      }

      .root-text-section {
        .root-text-list {
          display: flex;
          flex-wrap: wrap;
          gap: 3rem;


          .root-text {
            width: 20rem;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.2s ease;
            text-align: left;

            font-size: 1.2rem;
            line-height: 1.4;
            color: #333;
            padding-top: 1rem;
            font-weight: 400;

            &:hover {
              text-decoration: underline;
            }


            .divider {
              height: 1px;
              background-color: #e0e0e0;
              margin-bottom: 1rem;
              width: 100%
            }
          }
        }
      }
    }

    .commentary-text-container {
      h2 {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        color: #8e8e8e;
        letter-spacing: 0.05rem;
      }

      .commentary-section {
        .commentary-list {
          display: flex;
          flex-wrap: wrap;
          gap: 3rem;

          .commentary-text {
            width: 20rem;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.2s ease;
            text-align: left;

            font-size: 1.2rem;
            line-height: 1.4;
            color: #333;
            padding-top: 1rem;
            font-weight: 400;

            &:hover {
              text-decoration: underline;
            }


            .divider {
              height: 1px;
              background-color: #e0e0e0;
              margin-bottom: 1rem;
              width: 100%
            }
          }
        }
      }
    }
  }

  .right-section {
    width: 40%;
    margin: 0 5rem 0 2rem;
    height: 95vh;
    background-color: #FBFBFA;
  }
}

@media (max-width: 1300px) {
  .works-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3rem;

    .left-section {
      width: auto;
      margin-bottom: 2rem;

    }

    .right-section {
      width: auto;
    }
  }
}


@media (min-width: 911px) and (max-width: 1299px) {
  .works-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3rem;

    .left-section {
      width: auto;
      margin-bottom: 2rem;

    }

    .right-section {
      width: auto;
    }
  }
}


@media (max-width: 910px) {
  .works-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3rem;

    .left-section {
      width: auto;
      margin-bottom: 2rem;

      .commentary-text-container {
        .commentary-section {
          .commentary-text {
            width: 100% !important;
            //background-color: red;
          }
        }
      }

    }

    .right-section {
      width: auto;
    }
  }
}
