$dark-grey: #2f2f2f;
$light-grey: #e0e0e0;
$background-grey: #f5f5f5;
$text-color: #666666;
$font-size-title: 16px;
$text-color-title: #000000;


.footer-main {
  background-color: #ffffff;
  border-top: 1px solid $light-grey;
  padding: 1rem 0;
  position: static;
  margin-top: auto;
}

.footer-content {
  max-width: 1400px;
  margin: 0 1rem 0 7rem; 
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .profile-page ~ .footer-main .footer-content,
  .auth-page ~ .footer-main .footer-content {
    margin: 0 1rem 0 18rem;
  }
}

.footer-column {
  flex: 1;
  min-width: 150px;
  text-align: left;

  .footer-column-title {
    font-weight: bold;
      color: $text-color-title;
    margin-bottom: 1rem;
    font-size: $font-size-title;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      a {
        text-decoration: none;
        color: $text-color;
        font-size: $font-size-title;
        transition: color 0.3s ease;

        &:hover {
          color: #AB1A20;
        }

        &:focus-visible {
          outline: 2px solid #AB1A20;
          outline-offset: 2px;
        }
      }
    }
  }
}

.footer-connect {
  flex: 1;
  min-width: 200px;
  text-align: left;

  .footer-column-title {
    font-weight: bold;
    color: $text-color-title;
    margin-bottom: 1rem;
    font-size: $font-size-title;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: $font-size-title;

    a {
      text-decoration: none;
      color: $text-color;
      transition: color 0.3s ease;

      &:hover {
        color: #AB1A20;
      }

      &:focus-visible {
        outline: 2px solid #AB1A20;
        outline-offset: 2px;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-main {
    padding: 1.5rem 0;
    position: static;
  }

  .footer-content {
    margin: 0 1rem;
    padding: 0;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-column { 
    flex: 1 1 100%;
    min-width: 100%;
  }
  .footer-connect {
    text-align: right;
    min-width: 100%;
  }
}