$primary-color: hsl(42, 49%, 46%);
$hover-color: $primary-color;
$border-radius: 6px;
$transition-speed: 0.2s;

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem 0;

  .pagination {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;

    .page-link {
      color: #6e6e6e;
      border: none;
      background: none;
      padding: 6px 10px;
      margin: 0 2px;
      transition: background-color $transition-speed ease, color $transition-speed ease;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        box-shadow: none;
      }

      &.active {
        border-bottom: 4px solid $primary-color;
        color: #6e6e6e;
        font-weight: bold;
      }

      &:disabled {
        color: #ccc;
        pointer-events: none;
        background: none;
      }
    }
  }

  .form-group {
    width: 4rem;
    position: relative;
    display: flex;
    align-items: center;

    select {
      padding: 6px 24px 6px 8px;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: $border-radius;
      background-color: white;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      transition: border-color 0.2s ease;

      &:hover {
        border-color: $primary-color;
      }

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: none;
      }
    }

    .dropdown-icon {
      position: absolute;
      right: 14px;
      top: 30%;
      pointer-events: none;
    }
  }
}