.use-chapter-hook-container {
  .main-content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto;
  min-height: 80vh;
  .contents-container {
    flex: 1 1 0;
    max-width: 100%;
    button{
      background-color: transparent;
      border: none;   
    }
    .segment-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        padding: 1rem;
        margin-bottom: 1rem;

        .footnote-marker {
          cursor: pointer;
          color: #007bff;
          font-weight: bold;
          z-index: 2;
          padding: 0 2px;
        }
        .footnote {
          display: none;
          color: #484848;
          margin: 4px;
          font-size: 0.9rem;
          background-color: #f7f7f7;
          padding: 2px 5px;
          border-radius: 3px;
          &.active {
            display: inline;
          }
        }
      }
    }
  }
}