.use-chapter-hook-container{
    .contents-container{
        .segment-container{
            display: flex;
            align-items: center;
            text-align: center;
            width: 60%;
            margin: 0 auto;
            border: 1px solid #e0e0e0;
            border-radius: 0.5rem;
            padding: 1rem;
            margin-bottom: 1rem;
            .segment-content{
               width: 100%;
            }
        }
    }
}