
#root {
  text-align: center;
  --title-font-size: 16px;
  --title-font-family: 'title-font',"Roboto";
  --subtitle-font-size: 16px;
  --subtitle-font-family: 'sub-title-font',"Roboto";
  --content-font-size: 16px;
  --content-font-family: 'content-font',"Roboto";
  --subcontent-font-size: 11px;
  --subcontent-font-family: 'sub-content-font',"Roboto";
  --listtitle-font-size: 16px;
  --listtitle-font-family: 'list-title-font',"Roboto";
  --listsubtitle-font-size: 14px;
  --listsubtitle-font-family: 'list-subtitle-font',"Roboto";
  --navbaritems-font-size: 16px;
  --navbaritems-font-family: 'navbar-items-font',"Roboto";
}

@font-face {
  font-family: 'Monlam-uni-ouchan2-ttf';
  src: url("./assets/fonts/Monlam Uni OuChan2.ttf");
}

@font-face {
  font-family: 'Monlam-bodyig-semi-bold-italic-ttf';
  src: url("./assets/fonts/Monlam-bodyig Semi Bold Italic.ttf");
}

@font-face {
  font-family: 'Monlam-bodyig-semi-bold-ttf';
  src: url("./assets/fonts/Monlam-bodyig Semi Bold.ttf");
}

@font-face {
  font-family: 'Monlam-bodyig-regular-ttf';
  src: url("./assets/fonts/Monlam-bodyig Regular.ttf");
}

.title {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-family: var(--subtitle-font-family);
}

.content {
  font-size: var(--content-font-size);
  font-family: var(--content-font-family);
}

.subcontent {
  font-size: var(--subcontent-font-size);
  font-family: var(--subcontent-font-family);
}

.listtitle{
  font-size: var(--listtitle-font-size);
  font-family: var(--listtitle-font-family);
}

.listsubtitle{
  font-size: var(--listsubtitle-font-size);
  font-family: var(--listsubtitle-font-family);
}

.navbaritems{ 
  font-size: var(--navbaritems-font-size);
  font-family: var(--navbaritems-font-family);
}

.logo {
  height: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
