
#root {
  text-align: center;
  --title-font-size: 16px;
  --title-font-family: 'title-font',"Inter";
  --subtitle-font-size: 16px;
  --subtitle-font-family: 'sub-title-font',"Inter";
  --content-font-size: 16px;
  --content-font-family: 'content-font',"Inter";
  --subcontent-font-size: 11px;
  --subcontent-font-family: 'sub-content-font',"Inter";
  --listtitle-font-size: 16px;
  --listtitle-font-family: 'list-title-font',"Inter";
  --listsubtitle-font-size: 14px;
  --listsubtitle-font-family: 'list-subtitle-font',"Inter";
  --navbaritems-font-size: 16px;
  --navbaritems-font-family: 'navbar-items-font',"Inter";
  --overalltext-font-size: 22px;
  --overalltext-font-family: 'overall-text-font',"Inter";
}

@font-face {
  font-family: 'MonlamUniOuChan2';
  src: url("./assets/fonts/MonlamUniOuChan2.woff") format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/InterRegular.woff") format('woff');
}
.bo-text{
  font-family: 'MonlamUniOuChan2';
  font-size: 20px;
}
.en-text{
  font-family: 'Inter';
  font-size: 18px;
}
.title {
  font-size: var(--title-font-size);
  font-family: var(--title-font-family);
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-family: var(--subtitle-font-family);
}

.content {
  font-size: var(--content-font-size);
  font-family: var(--content-font-family);
}

.subcontent {
  font-size: var(--subcontent-font-size);
  font-family: var(--subcontent-font-family);
}

.listtitle{
  font-size: var(--listtitle-font-size);
  font-family: var(--listtitle-font-family);
}
.overalltext{
  font-size: var(--overalltext-font-size);
  font-family: var(--overalltext-font-family);
}
.listsubtitle{
  font-size: var(--listsubtitle-font-size);
  font-family: var(--listsubtitle-font-family);
}

.navbaritems{ 
  font-size: var(--navbaritems-font-size);
  font-family: var(--navbaritems-font-family);
}

.logo {
  height: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}