@import "tailwindcss";
a:focus {
  outline: none;
}
a:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
