.paragraph-with-indicator {
  position: relative;
  padding-left: 1.2em;
  .newline-indicator {
    position: absolute;
    margin-top: 0.3em;
    left: 0;
    width: 1em;
    height: 1em;
    display: inline-block;
    color: #929292;
  }
  
}
