.translation-content {
  text-align: start;
  color: black;
  
  .commentaries-list {
    .commentary-list-item {
      margin-bottom: 1.25rem;
      padding-bottom: 1rem;
    }
  
    .commentary-title {
      font-weight: 600;
      font-size: 1.2rem;
      color: #333;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-bottom: 0.75rem;
      border-bottom: 2px solid #a70c0c;
      line-height: 1.6;
    }
  

    .see-more-container {
      text-align: left;
      margin: 0.1rem 0 0.5rem;
    }
  
    .commentary-source {
      font-size: 0.85rem;
      color: #666;
      margin: 0.5rem 0;
    }
  
    .commentary-buttons {
      display: flex;
      gap: 1.5rem;
      padding: 10px 0;
    }
  
    .commentary-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 0.9rem;
      color: #555;
      background: none;
      border: none;
      padding: 0;
      .mr-1 {
        margin-right: 4px;
      }
  
      &:hover {
        color: #a70c0c;
      }
    }

    .no-commentaries-message {
      color: #666;
      font-style: italic;
    }
  }
}
.commentary-content {
  font-size: 1rem;
  line-height: 1.7;
  color: #504e4e;
  position: relative;
}

.see-more-link {
  background: none;
  border: none;
  color: #555;
  padding: 0;
  cursor: pointer;
  font-size: 0.875rem;
  display: inline-block;

  &:hover {
    text-decoration: underline;
    color: #a70c0c;
  }
}
