
.sheets-wrapper {
    height: 720px;
    padding: 20px;
    width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.sheets-editable {
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.codestyle{
    background-color: #f8f8f8;
}