.sheets-wrapper {
    height: 720px;
    padding: 20px;
    width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    .title-input-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }

    .title-input {
        font-size: 2rem;
        width: 100%;
        padding: 10px 0;
        border: none;
        border-bottom: 2px solid transparent;
        outline: none;
        background-color: transparent;
        color: #333;
        transition: border-color 0.3s ease;
        
        &::placeholder {
            color: #aaa;
            opacity: 0.7;
        }
        
        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }

        &--error {
            border-bottom: 2px solid #dc3545;
            
            &:focus {
                border-bottom: 2px solid #dc3545;
            }
        }
    }
    .title-error-message {
        text-align: left;
        color: #dc3545;
        font-size: 0.875rem;
        margin-top: 5px;
        padding-left: 0;
        font-weight: 500;
    }
}



.sheets-editable {
    flex: 1;
    width: 100%;
    border: 1px solid #f3f3f3;
    outline: none;
    padding: 1rem;
    border-radius: 6px;
}


.sheet-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    margin: 10px 0;
    display: block;
}